.chrono-style{
    /* margin:0 auto; */
    margin-right: 2rem;
}
@media (min-width:'400px'){
    .chrono-style{
        max-width: 300px;
        max-height: 100%;
    }
}
.hqPEIX {
    background: border-box !important;
  }
#light .kTwTFp{
    color:#1f1f1f;
}

#dark .lofhpv {
    color:#f8f8f8;
}
#light .lofhpv{
    color:#1f1f1f;
}
#dark .eTDJAA {
    color:#f8f8f8;
    font-size: 1.5rem;
}
#light .eTDJAA {
    color:#1f1f1f;
    font-size: 1.5rem;
}
#dark .gJUXfo{
    color:#f8f8f8;
}
